<li>
  <span class="date"><%= training.date %></span>
  <span class="condition"><%= training.condition %></span>
  <span class="training_detail"><%= training.training_detail %></span>
  <span class="running_distance"><%= training.running_distance %></span>
</li>