<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Home", root_path  %></li>
      <li><%= link_to "About", about_path  %></li>
      <li><%= link_to "Help", help_path  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->